/* fichier components/Film/Film.css */
.film {
    display: flex;
    margin: 15px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .film img {
    width: 150px;
    padding: 5px;
    border-right: 1px solid #ccc;
  }
  
  .film p {
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  